/*.background {
fill: none;
pointer-events: all;
}



@keyframes example {
    0%   {transform: translate(50,50)}
    50%  {transform: translate(100,100)}
    100% {transform: translate(50,50)}
}

.features {
fill: #ccc;
cursor: pointer;
}

.boundary {
fill: none;
stroke: white;
stroke-dasharray: 2,2;
stroke-linejoin: round;
}

.feature:hover{
fill: #ffffcc;
stroke: brown;
stroke-width: 1.5px;
}*/