/*@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300); */
@font-face{
    font-family: Quicksand;
    src: url(Quicksand_Light.otf);
}
@font-face{
    font-family: Cambria;
    src: url(cambriai.ttf);
}
body{
    font-family: Quicksand;
}
.footer{
    font-family: monospace;
}
.stis{
    font-family: Quicksand;
}